@tailwind base;
@tailwind components;
@tailwind utilities;

:root {  
}


body {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.calculator {
  max-width: 320px;
  min-width: 320px;
  height: fit-content;
  padding: 5px;
  overflow: hidden;
  border: 1px dotted rgba(0,0,0,.4);
  border-radius: 6px;
}

.display {
  width: 100%;
  height: 70px;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 12px;
  margin-bottom: 5px;
  overflow: hidden;
}

.lineUpDisplay, .lineDownDisplay {
  height: 40px;
  max-width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 30px;
  font-size: xx-large;
}

.lineDownDisplay {
  height: 30px;
  font-size: large;
}

.calcPanel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.containerNumbers, .containerSymbols {
  width: 60%;
  display: flex; 
  flex-direction: column;
  gap: 10px;
  padding: 5px 0;
  justify-content: space-between;
}

.containerSymbols {
  width: 40%;  
}

.containerButtons {
  display: flex;
  gap: 10px;
  min-width: 100%;
  justify-content: space-between;
}

.buttonSmall, .buttonMedium, .buttonUniq {
  width: 30%;
  min-width: 50px;
  height: 40px;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  box-shadow: 2px 2px 9px -4px #000000;
  overflow: hidden;
}

.buttonMedium {
  width: 65%;
}

.buttonUniq {
  min-width: 100%;
}
